* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    overflow: hidden;
}

@font-face {
    font-family: "Roboto";
    src: url("../src/fonts/Roboto/Roboto-Black.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../src/fonts/Montserrat/montserrat.woff2") format("woff2"), url("../src/fonts/Montserrat/montserrat.woff") format("woff"),
        url("../src/fonts/Montserrat/montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../src/fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../src/fonts/Montserrat/montserratbold.woff2") format("woff2"), url("../src/fonts/Montserrat/montserratbold.woff") format("woff"),
        url("../src/fonts/Montserrat/montserratbold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../src/fonts/Montserrat/mantserratblack.woff2") format("woff2"), url("../src/fonts/Montserrat/mantserratblack.woff") format("woff"),
        url("../src/fonts/Montserrat/mantserratblack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/latoregular.woff2") format("woff2"), url("../src/fonts/Lato/latoregular.woff") format("woff"),
        url("../src/fonts/Lato/latoregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/latomedium.woff2") format("woff2"), url("../src/fonts/Lato/latomedium.woff") format("woff"),
        url("../src/fonts/Lato/latomedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/latosemibold.woff2") format("woff2"), url("../src/fonts/Lato/latosemibold.woff") format("woff"),
        url("../src/fonts/Lato/latosemibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/latobold.woff2") format("woff2"), url("../src/fonts/Lato/latobold.woff") format("woff"),
        url("../src/fonts/Lato/latobold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/latoitalic.woff2") format("woff2"), url("../src/fonts/Lato/latoitalic.woff") format("woff"),
        url("../src/fonts/Lato/latoitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

.logo {
    display: block;
    position: relative;
    width: 160px;
    height: 36px;
    background: url("../src/img/logo/logo.svg") center center/contain no-repeat;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000000;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    position: absolute;
    width: 100%;
    min-height: 110px;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    margin-right: 45px;
}

.header__button {
    background: none;
}

.header__burger {
    margin-left: 30px;
    background: none;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__item {
    margin-right: 56px;
}

.nav__item:last-child {
    margin-right: 0;
}
