* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/montserrat.woff2") format("woff2"), url("../src/fonts/Montserrat/montserrat.woff") format("woff"), url("../src/fonts/Montserrat/montserrat.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/montserratbold.woff2") format("woff2"), url("../src/fonts/Montserrat/montserratbold.woff") format("woff"), url("../src/fonts/Montserrat/montserratbold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat/montserratblack.woff2") format("woff2"), url("../src/fonts/Montserrat/montserratblack.woff") format("woff"), url("../src/fonts/Montserrat/montserratblack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/latoregular.woff2") format("woff2"), url("../src/fonts/Lato/latoregular.woff") format("woff"), url("../src/fonts/Lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/latomedium.woff2") format("woff2"), url("../src/fonts/Lato/latomedium.woff") format("woff"), url("../src/fonts/Lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/latosemibold.woff2") format("woff2"), url("../src/fonts/Lato/latosemibold.woff") format("woff"), url("../src/fonts/Lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/latobold.woff2") format("woff2"), url("../src/fonts/Lato/latobold.woff") format("woff"), url("../src/fonts/Lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/latoitalic.woff2") format("woff2"), url("../src/fonts/Lato/latoitalic.woff") format("woff"), url("../src/fonts/Lato/latoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.logo {
  display: block;
  position: relative;
  width: 160px;
  height: 36px;
  background: url("../src/img/logo/logo.svg") center center/contain no-repeat;
}

.burger-menu {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.burger-menu__box {
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu__box::before, .burger-menu__box::after {
  content: "";
}
.burger-menu__line, .burger-menu__box::before, .burger-menu__box::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border: 1px solid #000000;
  background: #000000;
  border-radius: 2px;
  transition: all 0.3s;
}
.burger-menu__line {
  top: 0;
}
.burger-menu__box::before {
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: center;
}
.burger-menu__box::after {
  bottom: 0;
}
.burger-menu.active .burger-menu__box::before {
  transform: translate(0, -50%) scale(0);
}
.burger-menu.active .burger-menu__line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
}
.burger-menu.active .burger-menu__box::after {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg) scale(1.2);
}

.socials {
  display: flex;
}
.socials__item {
  width: 21px;
  height: 21px;
  margin-right: 24px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.socials__link:hover {
  transform: scale(1.2);
}
.socials__pic {
  height: 100%;
}
.socials__path {
  transition: all 0.3s;
}
.socials__link_fill .socials__path {
  fill: #dfdfdf;
}
.socials__link_fill:hover .socials__path {
  fill: #ffffff;
}
.socials__link_stroke-black .socials__path {
  stroke-width: 1;
  stroke: #000000;
}
.socials__link_stroke-black .socials__path {
  stroke-width: 1;
  stroke: #ffffff;
}

.arrowbutton {
  background: none;
  display: flex;
  align-items: center;
}
.arrowbutton__text {
  display: block;
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  margin-right: 10px;
  padding: 3px 0;
}
.arrowbutton__text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 0;
  transition: right 0.3s;
  border-bottom: 1px solid #ffffff;
}
.arrowbutton__arrow {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: relative;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.arrowbutton__line {
  display: block;
  width: 37%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}
.arrowbutton__line::before, .arrowbutton__line::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: center right;
  background: #ffffff;
  border-radius: 1px;
}
.arrowbutton__line::before {
  transform: translateY(-50%) rotate(45deg);
}
.arrowbutton__line::after {
  transform: translateY(-50%) rotate(-45deg);
}
.arrowbutton:hover .arrowbutton__text::after {
  right: 0%;
}
.arrowbutton:hover .arrowbutton__arrow {
  transform: rotate(90deg) scale(1.05);
}

.swiper {
  padding-bottom: 60px;
  position: relative;
}

.swiper-slide {
  transition: transform 0.3s;
  width: 210px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}
.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.85);
}
.swiper-slide__content {
  padding-bottom: 100%;
  position: relative;
}
.swiper-slide__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide__desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 36px 16px 24px;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transform: translateY(100%);
  transition: transform 0.3s;
}
.swiper-slide:hover .swiper-slide__desc {
  transform: translateY(0);
}
.swiper-slide__header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 10px;
}
.swiper-slide__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #bdbdbd;
}

.swiper-controls {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 900px) {
  .swiper-controls_left {
    left: 100%;
    transform: translateX(-100%);
  }
}

.swiper-custom-buttom {
  width: 38px;
  height: 38px;
  display: block;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: relative;
  background: none;
  transition: transform 0.3s;
}
.swiper-custom-buttom__line {
  display: block;
  width: 37%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}
.swiper-custom-buttom__line::before, .swiper-custom-buttom__line::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: center right;
  background: #ffffff;
  border-radius: 1px;
}
.swiper-custom-buttom__line::before {
  transform: translateY(-50%) rotate(45deg);
}
.swiper-custom-buttom__line::after {
  transform: translateY(-50%) rotate(-45deg);
}
.swiper-custom-buttom_black {
  border-color: #212121;
}
.swiper-custom-buttom_black .swiper-custom-buttom__line {
  background: #212121;
}
.swiper-custom-buttom_black .swiper-custom-buttom__line::before, .swiper-custom-buttom_black .swiper-custom-buttom__line::after {
  background: #212121;
}

.swiper-custom-buttom-next {
  margin-right: 16px;
  transform: rotate(180deg);
}

.swiper-custom-buttom.swiper-button-disabled {
  opacity: 0.5;
}

.daycontent__header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 48px;
}
.daycontent__header_black {
  color: #212121;
}
.daycontent__day {
  color: #f47648;
}
.daycontent__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #acacac;
}
.daycontent__text_black {
  color: #313131;
}
.daycontent__paragraph {
  margin-bottom: 15px;
}
.daycontent__paragraph:last-child {
  margin-bottom: 0;
}
.daycontent__boldtext {
  font-weight: 600;
  color: #ffffff;
}
.additional {
  margin-top: 45px;
}
.additional__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 31px;
}
.additional__item {
  display: flex;
  border-bottom: 1px solid #bababa;
  margin-bottom: 15px;
}
.additional__name {
  flex: 0 0 50%;
  padding: 10px 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.additional__desc {
  flex: 0 0 50%;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 171%;
  color: #bababa;
  opacity: 0.7;
}
.additional_black .additional__header {
  color: #212121;
}
.additional_black .additional__name {
  color: #000000;
}
.additional_black .additional__desc {
  color: #313131;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.lock-burger {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 110px;
  z-index: 996;
}
@media (max-width: 900px) {
  .header {
    position: fixed;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    background: #ffffff;
  }
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}
.header__logo {
  margin-right: auto;
  position: relative;
  z-index: 999;
}
.header__nav {
  margin-right: 45px;
  z-index: 996;
}
.header__button {
  background: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #212121;
  padding: 11px 32px;
  border: 1px solid #212121;
  border-radius: 5px;
  z-index: 999;
  position: relative;
  transition: transform 0.3s;
}
.header__button:hover {
  transform: scale(1.05);
}
@media (max-width: 550px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  margin-left: 30px;
  width: 30px;
  height: 25px;
  background: none;
  display: none;
  z-index: 999;
  position: relative;
}
@media (max-width: 900px) {
  .header__burger {
    display: block;
  }
}

.nav {
  position: relative;
}
@media (max-width: 900px) {
  .nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(-200%);
    transition-property: opacity, transform;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0.3s;
  }
  .nav.active {
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0s;
  }
}
.nav__list {
  display: flex;
}
@media (max-width: 900px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}
@media (max-width: 900px) {
  .nav.active .nav__list {
    transform: translateY(0);
  }
}
.nav__item {
  margin-right: 56px;
  position: relative;
}
.nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 900px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.nav__button {
  background: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #212121;
  padding: 3px 0;
}
.nav__button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 0;
  transition: right 0.3s;
  border-bottom: 1px solid #000000;
}
.nav__button:hover::after {
  right: 0;
}
@media (max-width: 900px) {
  .nav__button {
    font-size: 32px;
  }
}

.welcome {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 30%), linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 90%), url("../src/img/welcome/bg.jpg") center center/cover no-repeat;
}
.welcome__container {
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.welcome__section {
  flex: 1 0 35%;
}
@media (max-width: 900px) {
  .welcome__section {
    flex: 1 0 100%;
  }
}
.welcome__section_left {
  margin-bottom: 55px;
}
.welcome__section_right {
  align-self: flex-end;
}
.welcome__socials {
  position: absolute;
  left: 40px;
  bottom: 70px;
}
@media (max-width: 900px) {
  .welcome__socials {
    left: auto;
    right: 40px;
    bottom: 40px;
  }
}
.welcome .swiper-slide {
  transform-origin: center bottom;
}

.tourdesc {
  display: flex;
  flex-direction: column;
}
.tourdesc__heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 114.285%;
  color: #ffffff;
  margin-bottom: 25px;
}
.tourdesc__date {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 187%;
  color: #ffffff;
  padding: 2px 24px;
  margin-bottom: 40px;
  background: linear-gradient(91.82deg, #fb8b62 5.83%, #f47648 89.73%), #f47648;
  border-radius: 16px;
  text-transform: uppercase;
}
.tourdesc__date-range {
  display: inline-block;
}
.tourdesc__date-name {
  display: inline-block;
}
.tourdesc__slogan {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 10px;
}
.tourdesc__button {
  align-self: flex-start;
}

.edge {
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%), url("../src/img/edge/bg.jpg") center -20%/120% no-repeat;
}
@media (max-width: 1650px) {
  .edge {
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%), url("../src/img/edge/bg.jpg") center bottom/110% no-repeat;
  }
}
@media (max-width: 700px) {
  .edge {
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%), url("../src/img/edge/bg.jpg") center bottom/140% no-repeat;
  }
}
@media (max-width: 550px) {
  .edge {
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%), url("../src/img/edge/bg.jpg") center bottom/270% no-repeat;
  }
}
.edge__container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.edge__desc {
  max-width: 770px;
}
.edge__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: #121212;
  margin-bottom: 27px;
}
.edge__subheader {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 133%;
  color: #313131;
  opacity: 0.8;
  margin-bottom: 35px;
}
.edge__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  margin-bottom: 64px;
}
.edge__airplane {
  min-height: 344px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
@media (max-width: 900px) {
  .features__item {
    flex: 1 0 34%;
  }
}
.features__imgbox {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  background: center center/contain no-repeat;
}
.features__imgbox_level {
  background-image: url("../src/img/edge/level.svg");
}
.features__imgbox_calendar {
  background-image: url("../src/img/edge/calendar.svg");
}
.features__imgbox_clock {
  background-image: url("../src/img/edge/clock.svg");
}
.features__imgbox_hotel {
  background-image: url("../src/img/edge/hotel.svg");
}
.features__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 171%;
  color: #212121;
}
.features__desc {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #212121;
}

.airplane {
  position: relative;
}
.airplane__bgword {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 200px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 30%;
}
@media (max-width: 900px) {
  .airplane__bgword {
    font-size: 164px;
  }
}
.airplane__img {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 800px;
  min-height: 320px;
  background: url("../src/img/edge/airbus.png") center center/contain no-repeat;
}
@media (max-width: 900px) {
  .airplane__img {
    left: 50%;
    top: 0;
  }
}
@media (max-width: 700px) {
  .airplane__img {
    left: 30%;
  }
}
@media (max-width: 550px) {
  .airplane__img {
    left: 20%;
  }
}

.edgecomment {
  max-width: 662px;
}
.edgecomment__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 32px;
}
.edgecomment__text {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #dedede;
  margin-bottom: 10px;
  max-width: 350px;
}
.edgecomment__author {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px, 1875;
  color: #ffffff;
}

.day-1 {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%), url("../src/img/day-1/bg.jpg") center center/cover no-repeat;
  position: relative;
}
.day-1__container {
  padding-top: 80px;
  padding-bottom: 170px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
  z-index: 2;
}
.day-1__content {
  flex: 0 0 47%;
  max-width: 461px;
}
@media (max-width: 900px) {
  .day-1__content {
    flex: 0 0 100%;
    margin-bottom: 48px;
  }
}
.day-1__swiper {
  align-self: center;
  flex: 0 0 47%;
}
@media (max-width: 900px) {
  .day-1__swiper {
    flex: 0 0 100%;
  }
}
.day-1__cloud {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  z-index: 1;
  width: 100%;
  padding-bottom: 18%;
  background: url("../src/img/day-1/cloud.png") center center/100% no-repeat;
}
.day-1__cloud::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255) 50%);
}

.day-2 {
  background: url("../src/img/day-2/mount.png") right 20%/50% no-repeat;
}
@media (max-width: 1650px) {
  .day-2 {
    background: url("../src/img/day-2/mount.png") right 20%/70% no-repeat;
  }
}
@media (max-width: 900px) {
  .day-2 {
    background: none;
  }
}
.day-2__container {
  padding-top: 65px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
}
.day-2__content {
  max-width: 856px;
  margin-bottom: 65px;
}
.day-2 .daycontent__text {
  max-width: 540px;
}
.day-2__bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.day-2__swiper {
  flex: 0 0 60%;
  margin: 0;
}
@media (max-width: 900px) {
  .day-2__swiper {
    flex: 0 0 100%;
    order: 1;
  }
}
.day-2__text {
  padding-bottom: 80px;
  flex: 0 0 34%;
}
@media (max-width: 900px) {
  .day-2__text {
    flex: 0 0 100%;
    order: 0;
  }
}

.day-2 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-2 .swiper-slide {
    width: 280px;
  }
}
.day-2 .swiper-slide:not(.day-2 .swiper-slide-active) {
  transform: scale(1);
}

.waiting {
  background: #f1f1f1;
}
.waiting__container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.waiting__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 48px;
}
.routecards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.routecards__item {
  flex: 1 0 21%;
  background: #ffffff;
  padding-bottom: 32px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1150px) {
  .routecards__item {
    flex: 1 0 34%;
  }
}
@media (max-width: 700px) {
  .routecards__item {
    flex: 1 0 100%;
  }
}
.routecards__imgbox {
  position: relative;
  padding-bottom: 56%;
  margin-bottom: 32px;
}
.routecards__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.routecards__caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #212121;
  margin-bottom: 15px;
  padding: 0px 24px;
}
.routecards__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #5a5a5a;
  padding: 0px 24px;
}

.day-3 {
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%), linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/day-3/bg.png") center bottom/contain no-repeat;
  position: relative;
}
.day-3__container {
  padding-top: 80px;
  padding-bottom: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  -moz-column-gap: 15%;
       column-gap: 15%;
}
.day-3__swiper {
  flex: 1 0 50%;
  margin-left: 0;
  margin-top: 50px;
}
@media (max-width: 900px) {
  .day-3__swiper {
    flex: 1 0 100%;
    order: 1;
  }
}
.day-3__content {
  flex: 1 0 35%;
}
@media (max-width: 900px) {
  .day-3__content {
    flex: 1 0 100%;
  }
}

.day-3 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-3 .swiper-slide {
    width: 280px;
  }
}
.day-3 .swiper-slide:not(.day-3 .swiper-slide-active) {
  transform: scale(1);
}

.day-4 {
  background: #000000;
  position: relative;
}
.day-4__container {
  padding-top: 105px;
  padding-bottom: 50px;
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: flex-start;
  flex-wrap: wrap;
}
.day-4__content {
  flex: 1 0 40%;
}
@media (max-width: 900px) {
  .day-4__content {
    flex: 1 0 100%;
  }
}
.day-4__swiper {
  flex: 1 0 40%;
  margin-top: 50px;
}
@media (max-width: 900px) {
  .day-4__swiper {
    flex: 1 0 100%;
  }
}
.day-4__eagle {
  position: absolute;
  left: -10%;
  top: -30%;
  width: 50%;
  min-height: 300px;
  background: url("../src/img/day-4/eagle.png") center center/contain no-repeat;
}
@media (max-width: 700px) {
  .day-4__eagle {
    display: none;
  }
}

.day-4 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-4 .swiper-slide {
    width: 280px;
  }
}

.day-5-6 {
  position: relative;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 100%), url("../src/img/day-5-6/bg.jpg") center center/cover no-repeat;
}
.day-5-6__seagull {
  position: absolute;
  right: 0;
  top: -5%;
  width: 25%;
  min-height: 200px;
  background: url("../src/img/day-5-6/seagull.png") center center/contain no-repeat;
}
@media (max-width: 700px) {
  .day-5-6__seagull {
    display: none;
  }
}
.day-5-6__cloud {
  position: absolute;
  left: -10%;
  bottom: 0;
  transform: translateY(50%);
  width: 120%;
  padding-bottom: 17%;
  background: url("../src/img/day-5-6/cloud.png") center center/100% no-repeat;
}
.day-5-6__cloud::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 90%);
}

.day-5__container {
  padding-top: 124px;
  padding-bottom: 134px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: flex-start;
}
.day-5__swiper {
  flex: 1 0 50%;
  margin-top: 70px;
}
@media (max-width: 900px) {
  .day-5__swiper {
    flex: 1 0 100%;
    order: 1;
  }
}
.day-5__content {
  flex: 1 0 40%;
}
@media (max-width: 900px) {
  .day-5__content {
    flex: 1 0 100%;
  }
}

.day-5 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-5 .swiper-slide {
    width: 280px;
  }
}
.day-5 .swiper-slide:not(.day-5 .swiper-slide-active) {
  transform: scale(1);
}

.day-6__container {
  padding-top: 124px;
  padding-bottom: 134px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: flex-start;
}
.day-6__swiper {
  flex: 1 0 50%;
  margin-top: 70px;
}
@media (max-width: 900px) {
  .day-6__swiper {
    flex: 1 0 100%;
  }
}
.day-6__content {
  flex: 1 0 40%;
}
@media (max-width: 900px) {
  .day-6__content {
    flex: 1 0 100%;
  }
}

.day-6 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-6 .swiper-slide {
    width: 280px;
  }
}

.day-7-8 {
  padding-top: 80px;
  padding-bottom: 160px;
  position: relative;
}
.day-7-8__bg {
  position: absolute;
  width: 100%;
  padding-bottom: 50%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgb(0, 0, 0) 100%), url("../src/img/day-7-8/bg.jpg") center center/cover no-repeat;
}
@media (max-width: 700px) {
  .day-7-8__bg {
    width: 1000px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.day-7 {
  margin-bottom: 150px;
  position: relative;
  z-index: 2;
}
.day-7__content {
  max-width: 865px;
  margin-bottom: 57px;
}
.day-7 .daycontent__text {
  max-width: 548px;
}
.day-7__bottom-box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
.day-7__swiper {
  flex: 1 0 50%;
}
@media (max-width: 900px) {
  .day-7__swiper {
    flex: 1 0 100%;
    order: 1;
  }
}
.day-7__text {
  flex: 1 0 40%;
}
@media (max-width: 900px) {
  .day-7__text {
    flex: 1 0 100%;
    margin-bottom: 48px;
  }
}

.day-7 .swiper-slide {
  width: 320px;
}
@media (max-width: 900px) {
  .day-7 .swiper-slide {
    width: 280px;
  }
}
.day-7 .swiper-slide:not(.day-7 .swiper-slide-active) {
  transform: scale(1);
}

.day-8 {
  position: relative;
  z-index: 2;
}
.day-8__container {
  display: flex;
  justify-content: flex-end;
}
.day-8__content {
  flex: 0 0 540px;
}
@media (max-width: 900px) {
  .day-8__content {
    flex: 1 0 100%;
  }
}