// Брейкпоинты
$width_desktop_1: 1650px;
$width_desktop_2: 1300px;
$width_desktop_3: 0;

$width_mobile_1: 900px;
$width_mobile_2: 700px;
$width_mobile_3: 550px;

// Шрифты
$font_1: "Lato", sans-serif;
$font_2: "Montserrat", sans-serif;
$font_3: "Roboto", sans-serif;

// Размер шрифта
$fsz: 16px;

// Цвета
$black_1: #000000;
$black_2: #212121;
$black_3: rgba(0, 0, 0, 0.25);
$black_4: #121212;
$black_5: #313131;

$white_1: #ffffff;
$white_2: rgba(255, 255, 255, 0.2);

$orange_1: #fb8b62;
$orange_2: #f47648;

$gray_1: #bdbdbd;
$gray-2: #dfdfdf;
$gray_3: #dedede;
$gray_4: #acacac;

// Тени
$shadow_black_1: 0px 6px 14px $black_3;

//Скорость анимации
$transition: 0.3s;

$transition_burger: $transition;
$transition_menu: $transition;
$transition_hover: $transition;
$transition_slider: $transition;
$transition_socials: $transition;

//Миксины

@mixin fonttype_text($color: $black_2, $lheight: 118.75%) {
    font-family: $font_1;
    font-style: normal;
    font-weight: 400;
    font-size: $fsz; // 16px
    line-height: $lheight;
    color: $color;
}

@mixin fonttype_header_1($color: $white_1, $lheight: 114.285%) {
    font-family: $font_2;
    font-style: normal;
    font-weight: 900;
    font-size: $fsz * 3.5; // 56px
    line-height: $lheight;
    color: $color;
}

@mixin fonttype_header_2($color: $white_1, $lheight: 125%) {
    font-family: $font_2;
    font-style: normal;
    font-weight: 700;
    font-size: $fsz * 2.5; // 40px
    line-height: $lheight;
    color: $color;
}

@mixin fonttype_text_small($color: $gray_1, $lheight: 171%) {
    font-family: $font_1;
    font-style: normal;
    font-weight: 400;
    font-size: $fsz * 0.875; // 14px
    line-height: $lheight;
    color: $color;
}
