.day-5-6 {
    position: relative;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%),
        url("../src/img/day-5-6/bg.jpg") center center / cover no-repeat;

    &__seagull {
        position: absolute;
        right: 0;
        top: -5%;

        width: 25%;
        min-height: 200px;

        background: url("../src/img/day-5-6/seagull.png") center center / contain no-repeat;

        @media (max-width: $width_mobile_2) {
            display: none;
        }
    }

    &__cloud {
        position: absolute;
        left: -10%;
        bottom: 0;
        transform: translateY(50%);

        width: 120%;
        padding-bottom: 17%;

        background: url("../src/img/day-5-6/cloud.png") center center / 100% no-repeat;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 90%);
        }
    }
}

@import "./day-5/day-5";
@import "./day-6/day-6";
