.day-1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%), url("../src/img/day-1/bg.jpg") center center / cover no-repeat;
    position: relative;

    &__container {
        padding-top: 80px;
        padding-bottom: 170px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        position: relative;
        z-index: 2;
    }

    &__content {
        flex: 0 0 47%;
        max-width: 461px;

        @media (max-width: $width_mobile_1) {
            flex: 0 0 100%;
            margin-bottom: 48px;
        }
    }

    &__swiper {
        align-self: center;
        flex: 0 0 47%;

        @media (max-width: $width_mobile_1) {
            flex: 0 0 100%;
        }
    }

    &__cloud {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        z-index: 1;

        width: 100%;
        padding-bottom: 18%;

        background: url("../src/img/day-1/cloud.png") center center / 100% no-repeat;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 50%);
        }
    }
}
